:root {
  --base: #1e1e2e;
  --base2: #171723;
  --text: #cdd6f4;
  --surface: #313244;

  --outline: #4f379f83;

  --red: #f38ba8;
}

header {
  position: sticky;
  z-index: 10;

  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 3.5rem;
  
  top: 0;
  left: 0;
  right: 0;

  color: var(--text);
  background-color: var(--base);
}

body {
  margin: 1%;
  color: #cdd6f4;
  background-color: var(--base);
}

.centerXY {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

input {
  margin-bottom: 0.8em;
}

#error-message {
  color: var(--red);
}

#login-form form {
  width: 95%;
}

/* Message box */
#chat {
  position: fixed;
  bottom: 10px;
  width: 98%;
}

#msgBox {
  display: flex;
  justify-content: space-between;
}

/* Input colors */
input[type="text"], input[type="password"] {
  margin-top: 1em;
  padding: .5em;
  color: var(--text);
  background-color: var(--surface);
  width: 100%;

  border-color: var(--outline);
  border-style: solid;
}

input[type="submit"] {
  color: var(--text);
  background-color: var(--surface);

  border-style: none;
}

button {
  background-color: var(--surface);
  color: var(--text);

  border-color: var(--outline);
  border-style: solid;
}

/* EASTER EGGS */
.doom {
  width: 80vw;
  height: 50vw;
  border: none;
}

.minecraft {
  width: 80vw;
  height: 50vw;
  border: none;
}

.rick {
  width: 50vw;
  height: 30vw;
  margin: 0.1em;
}

.drippy {
  width: 30vw;
  height: 50vw;
  margin: 0.1em;
}

/* IDK MATE */
.slope {
  width: 80vw;
  height: 50vw;
}

/* Login Page */
.removed {
  display: none;
}